.container_contact h1 {
    font-size: 4rem;
    background: #fcb045;
    background: -webkit-linear-gradient(to right, #6441A5, #da22ff);
    background: linear-gradient(to right, #6441A5, #da22ff);
    background-size: 100%;
    padding: 50px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

form {
    color: #fff;
    display: block;
    justify-content: left;
}

.container_contact {
    background-color: #000;
    padding: 50px;
    height: 900px;
}

.container_box_contact {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px;
    align-items: center;

}

.contact_label {
    font-size: 1.4rem;
    color: #fcb045;
    display: flex;
    margin: 10px;
}

.btn_contact {
    font-size: 1.4rem;
    text-decoration: none;
    margin: 39px;
    padding: 10px 20px;
    width: 100%;
    border:none;
    outline: none;
    border-radius:4px;
    background: #833ab4;
    background: linear-gradient(to right, #fcb045, #fd1d1d, #6441A5);
    color: #fff;
    transition: all 0.3s ease;
}

.btn_contact:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    background:#6441A5;
}

input, textarea {
    color: #000;
    padding:10px;
    font-size: 1rem;
}

.d-flex {
    display: flex;
}

.d-flex p {
    margin-top: 25px;
}

.d-block
{
    display: block;
}

.d-block p {
    margin: 5px;
}

.centered-text
{
    text-align: center;
}

.centered
{
    margin: 0 auto;
}

.w-25
{
    width: 25%;
}

.w-50
{
    width: 50%;
}

.w-100
{
    width: 100%;
}

.m-auto
{
    margin: auto;
}

.mb-25
{
    margin-bottom: 25px;
}

.mt-10
{
    margin-top: 10px;
}

