/*CSS Portfolio dev */

.portfolio_dev {
    color: white;
    background: #131313;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio_dev h1 {
    text-align: center;
    margin: 3%;
    font-size: 6rem;
    background: linear-gradient(to right, #fd1d1d, #fc6d6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio_dev h2 {
    font-size: 4rem;
    margin: 1%;
}

.planet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.planet_description {
    position: absolute;
    height: auto;
    width: 60vw;
    animation: rotation 70s linear infinite;
}

.planet_img {
    position: absolute;
    height: auto;
    width: 25vw;
    border-radius: 50%;
    border: none;
    animation: rotation 20s linear infinite;
}

.planet_img:hover {
    animation: pulsate 1000s ease-in-out;
    transition-duration: 300ms;
    transition-property: transform;
    transform: scale(1.075);

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.projet_dev {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin: 5%;*/
    height: 100%;
    width: 100%;
}

.slide {
    display: flex;
    height: 100%;
    width: 12%;
    border-radius: 50%;
    border: #ffffff solid;
    background-color: #a50bcc;
    align-items: center;
    justify-content: center;

}

.slide a {
    font-size: 1.35rem;
    color: white;
    text-decoration: none;
}


.portfolio_graph {
    background-color: blue;
}

